
@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);

.divContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes rotate-text-up { 
    0% {
      transform: translate3d(0, 80px, 0);
      opacity: 0;
    }      
  }  
  
  .animated-text {  
    animation: rotate-text-up 1.5s;
    color: white;
  }
.divTechDescription{
    display: flex;
    flex-wrap: wrap;
    width: 22%;
}

.centered{
    align-content: center;
}
.divOptionsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 64%;
}

.divTitleContainer{
    display: flex;
    width: 97%;
}

.frontendTitle{
    -webkit-text-stroke: 1px #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(#33383C, #33383C);
    -webkit-background-clip: text;
    background-clip: none;
    background-position: -500px 0;
    animation: backcolor 5s alternate infinite;
    margin-bottom: 12px;
    margin-right: 0;
    font-size: xx-large;
}

.backendTitle{
    -webkit-text-stroke: 1px #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(#33383C, #33383C);
    -webkit-background-clip: text;
    background-clip: none;
    background-position: -500px 0;
    animation: backcolor 5s alternate-reverse infinite;
    margin-bottom: 12px;
    margin-right: 0;
    font-size: xx-large;
}

.optionsSet {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;    
    width: calc(100% - 100px);
    height: 330px;    
    margin-right: 12px;
    border-radius: 20px;
}

.optionsSet .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;    
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);        
}

.option:nth-child(1) {
    --defaultBackground: #ed5565;
}
.option:nth-child(2) {
    --defaultBackground: #fc6e51;
}
.option:nth-child(3) {
    --defaultBackground: #ffce54;
}
.option:nth-child(4) {
    --defaultBackground: #2ecc71;
}
.option:nth-child(5) {
    --defaultBackground: #5d9cec;
}
.option:nth-child(6) {
    --defaultBackground: #ac92ec;
}
.option:nth-child(7) {
    --defaultBackground: #51fc84;
}

.option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 485px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;    
}

.option.active .label {
    bottom: 20px;
    left: 20px;
}
.option.active .label .info > div {
    left: 0px;
    opacity: 1;
}
.option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;    
    filter: blur(2px);
    background-color: white !important;  
}

.option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}
.option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
}

.label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);    
    
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #33383C;
    color: var(--defaultBackground);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

@media (max-width: 1000px){
   
    .option.active{
        background-size: 140px !important;
    }
    .optionsSet{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(min(11.75rem, 100%), 1fr));
        margin-right: 0;
        width: 100%;
        min-width: initial;
    max-width: initial;
   }
  }

@media (max-width: 730px){
    .option.active{
        background-size: 100px !important;
    }
    .optionsSet{
        grid-template-columns: repeat(auto-fit, minmax(min(6.75rem, 100%), 1fr));
    }
    
}

@media (max-width: 430px){
    .option.active{
        background-size: 50px !important;
    }
    .optionsSet{
        grid-template-columns: repeat(auto-fit, minmax(min(3.75rem, 100%), 1fr));
    }

    .option.active .label {        
        display: none;
    }
}